@page "/settings"
@using TeachPlanner.BlazorClient.Services
@attribute [Authorize]

@inject IDialogService DialogService
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager

<h3>Settings</h3>

<Button Variant="ButtonTypes.Cancel" OnClick="DeleteAccount">
    Delete Account
</Button>

@code {

    private async Task DeleteAccount()
    {
        var result = await DialogService.ShowMessageBox("Are you sure you want to delete your account?", "Delete Account",
            "Yes", "Cancel");

        if (result == true)
        {
            await AuthService.DeleteAccount();
            NavManager.NavigateTo("/", true, true);
        }
    }

}