@inherits LayoutComponentBase
@inject NavigationManager NavManager

<MudThemeProvider Theme="_currentTheme"/>
<MudDialogProvider CloseButton="true" CloseOnEscapeKey="true" DisableBackdropClick="true"/>
<MudSnackbarProvider/>

<MudLayout Style="display: flex">
    <MudAppBar id="header" Elevation="0" Color="Color.Primary" Dense="true">
        <NavMenu/>
    </MudAppBar>
    <MudMainContent Style="display: flex; flex-grow: 1; flex-direction: column">
        <div class="overflow-x-hidden"
             style="display:flex; flex-direction:column; flex-grow: 1; padding-left: 0 !important; padding-right: 0 !important;">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {

    private readonly MudTheme _currentTheme = new()
    {
        Palette = new PaletteLight
        {
            Primary = "#90AEB2",
            Secondary = "#37514D",
            Info = "#DD8E75",
            Success = "#37514D",
            Warning = "#DD8E75",
            Error = "#B6594C",
            TextPrimary = "#000000"
        },
        Typography = new Typography
        {
            Default = new Default
            {
                FontFamily = ["Nunito Sans", "sans-serif", "monospace"]
            }
        }
    };

}